<style>
  .schedule-table {
    border-collapse: collapse;
    width: 100%;
  }

  .schedule-table th,
  .schedule-table td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
  }

  /* hover satu baris */
  .schedule-table tbody tr:hover {
    background-color: #f0f8ff;
  }

  /* biar checkbox gak geser */
  .schedule-table input[type="checkbox"] {
    cursor: pointer;
  }
</style>

<div style="display: flex;">
    <span style="font-size:20px;font-weight:600;">
        <%= title %>
    </span>
</div>
<div style="display: flex;">
    <div style="margin-left: auto;margin-right: 8px; margin-top: 12px;">
        <%- include('../component/insert-button', {name:'Jadwal', linkUrl:'',linkId:'insertJadwal',linkClass:'btn-insert'}) %>
    </div>
    <div style="margin-right: 8px; margin-top: 12px;">
        <%- include('../component/edit-button', {name:'Jadwal', linkUrl:'',linkId:'editJadwal',linkClass:'btn-edit'}) %>
    </div>
</div>
<div style="display: flex;">
    <div style="margin-left: auto; margin-right: 8px; margin-top: 12px;">
        <input type="month" id="monthPicker" value="2026-02" onchange="loadPatrolData()">
        <button style="width:164px;background-color: rgb(100, 100, 2);color: #FFFFFF;border-radius: 5px;border: solid 1px #FFFFFF;padding: 5px;" onclick="loadPatrolData()"><i class="fa fa-search"></i>&nbsp; Tampilkan</button>
    </div>
</div>
<div style="margin-top: 19px;">
    <div class="table-container" style="overflow: auto; max-height: 500px; padding: 5px;">

        <div id="scheduleContainer" style="width: 500px; font-size: xx-small;"></div>

    </div>
    <span style="font-size: 12px;">*Auto Schedule melakukan otomatis schedule dengan Pola : PB | PB | MB | MB | O | O</span>
</div>

<!-- Modal Preview Gambar -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-center">
      <div class="modal-body">
        <img id="previewImage" src="" alt="Foto Patrol" class="img-fluid rounded">
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Insert Update -->
<div class="modal fade" id="formModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <div class="text-start">
                    <form id="dataFormContent">
                        <!-- Form akan dimuat di sini dari js-->
                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" id="saveData">Simpan</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>

<script>
    const DAY_NAMES = ['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'];
    let modeSave = 'insert'; // insert atau edit

    async function loadPatrolData() {

        let tableBody = '';
            const monthValue = document.getElementById('monthPicker').value;
            console.log("Selected month:", monthValue);
            if (!monthValue) return;

            const [year, month] = monthValue.split('-').map(Number);
            const daysInMonth = new Date(year, month, 0).getDate();

            // contoh data pegawai
            const employees = await petugasList();
            const schedules = await scheduleList(monthValue);
            console.log("schedule data ini", schedules);

            let table = `
                <table class="schedule-table">
                <thead>
                    <tr>
                    <th rowspan="2">No</th>
                    <th rowspan="2">Nama</th>
                    <th rowspan="2">Sync.</th>
                    <th colspan="${daysInMonth}" style="text-align: center;">Tanggal</th>
                    </tr>
                    <tr>
            `;

            // baris tanggal + hari
            for (let d = 1; d <= daysInMonth; d++) {
                const dayIndex = new Date(year, month - 1, d).getDay();
                table += `<th style="text-align: center;">${d}<br>${DAY_NAMES[dayIndex]}</th>`;
            }

            table += `</tr></thead><tbody id="patrol-data">`;

            employees.forEach((emp, index) => {
                console.log("Employee: ", emp);
                table += `
                <tr style="hover: background-color: #f0f0f0;">
                    <td>${index + 1}</td>
                    <td>${emp.full_name}</td>
                    <td><button style="background-color: #018FDA;color: #FFFFFF;border-radius: 5px;border: solid 1px #FFFFFF;" onclick="autoScehdule('${monthValue}|${emp.user_id}|${emp.full_name}')">Auto</button></td>
                `;

                for (let d = 1; d <= daysInMonth; d++) {

                    let bgColor = 'style="background-color: #018FDA;"';
                    let labelInfo = '';
                    const dateKey = `${year}-${String(month).padStart(2, '0')}-${String(d).padStart(2, '0')}`;
                    if (schedules[dateKey] && schedules[dateKey][emp.user_id] && schedules[dateKey][emp.user_id].length > 0) {
                        bgColor = 'style="background-color: white;"';
                        schedules[dateKey] && schedules[dateKey][emp.user_id].forEach(sch => {
                            let shiftName = sch.shift.name.split(' - ')[1];
                            let locationTypeName = sch.location_type.name.split(' - ')[1];
                            labelInfo += `<input class="schedule-checkbox" type="checkbox" value="${dateKey}|${sch.shift_id}|${sch.location_type_id}|${sch.checker_id}|${sch.status}"/>${shiftName}.${locationTypeName}`;
                        });
                    }
                    table += `<td ${bgColor}>
                        ${labelInfo}
                        <button style="background-color: #018FDA;color: #FFFFFF;border-radius: 5px;border: solid 1px #FFFFFF;" onclick="easyInputScehdule('${dateKey}|1|1|${emp.employe_id}|1')">O</button>
                     </td>`;
                }

                table += `</tr>`;
            });

            table += `</tbody></table>`;

            document.getElementById('scheduleContainer').innerHTML = table;
    }

</script>
<!-- grant access -->
<script>
document.addEventListener("DOMContentLoaded", () => {

    const pathNow = window.location.pathname;
    const insertCheck = JSON.parse(localStorage.getItem('menus'));

    insertCheck.forEach(menu => {
        if (pathNow === menu.menu_path) {

            // Show INSERT
            if (menu.menu_permission.includes("create")) {
                const btn = document.getElementById("insertJadwal");
                if (btn) btn.style.display = "inline-block";
            }

            // Show EDIT
            if (menu.menu_permission.includes("edit")) {
                const btn = document.getElementById("editJadwal");
                if (btn) btn.style.display = "inline-block";
            }

            // Show PRINT
            if (menu.menu_permission.includes("print")) {
                const btn = document.getElementById("printJadwal");
                if (btn) btn.style.display = "inline-block";
            }
        }
    });
    document.querySelectorAll(".btn-insert").forEach(btn => {
        btn.addEventListener("click", function () {
            modeSave = 'insert';
            openModal("insert");
        });
        });
    document.querySelectorAll(".btn-edit").forEach(btn => {
        btn.addEventListener("click", function () {
            modeSave = 'edit';
            openModal("edit");
        });
    });
    loadPatrolData();
    
});

document.addEventListener("change", function(e) {
    if (e.target.type === "checkbox") {

        if (e.target.checked) {
            // Jika user CHECK → uncheck semua lainnya
            document.querySelectorAll('#patrol-data input[type=checkbox]').forEach(cb => {
                if (cb !== e.target) cb.checked = false;
            });
        } 
    }
});



function loadShiftOptions(selectedId = null) {
        return $.ajax({
            url: `<%= API_URL %>/admin/shift`,
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token'),
                'ngrok-skip-browser-warning': 'true'
            }
        }).then(data => {
            let shiftSelect = `
                <select class="form-select" id="shiftSelect" name="shift_id" required>
                    <option value="" disabled ${selectedId ? '' : 'selected'}>
                        Pilih Shift
                    </option>
            `;

            data.data.forEach(shift => {
                const selected = shift.id == selectedId ? 'selected' : '';
                shiftSelect += `
                    <option value="${shift.id}" ${selected}>
                        ${shift.name}
                    </option>
                `;
            });

            shiftSelect += `</select>`;
            return shiftSelect;
        });
    }
    function loadLocationTypeOptions(selectedId = null) {
        return $.ajax({
            url: `<%= API_URL %>/admin/location/type`,
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token'),
                'ngrok-skip-browser-warning': 'true'
            }
        }).then(data => {
            let locationTypeSelect = `
                <select class="form-select" id="locationTypeId" name="location_type_id" required>
                    <option value="" disabled ${selectedId ? '' : 'selected'}>
                        Pilih Location Type
                    </option>
            `;

            data.data.forEach(locationType => {
                const selected = locationType.id == selectedId ? 'selected' : '';
                locationTypeSelect += `
                    <option value="${locationType.id}" ${selected}>
                        ${locationType.name}
                    </option>
                `;
            });

            locationTypeSelect += `</select>`;
            return locationTypeSelect;
        });
    }
    function petugasOptions(selectedId = null) {
        return $.ajax({
            url: `<%= API_URL %>/admin/employee?page=1&rowCount=1000`,
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token'),
                'ngrok-skip-browser-warning': 'true'
            }
        }).then(data => {
            console.log("selectedId:", selectedId);
            console.log("Petugas data:", data);
            let locationTypeSelect = `
                <select class="form-select" id="user" name="checker_id" required>
                    <option value="" disabled ${selectedId ? '' : 'selected'}>
                        Pilih Petugas
                    </option>
            `;

            data.data.forEach(employee => {
                if(employee.user_id != null){
                    if(employee.user.role_id == 6){
                        const selected = employee.id == selectedId ? 'selected' : '';
                        locationTypeSelect += `
                            <option value="${employee.user.id}" ${selected}>
                                ${employee.full_name}
                            </option>
                        `;
                    }
                }
            });

            locationTypeSelect += `</select>`;
            return locationTypeSelect;
        });
    }

    function petugasList() {
        return $.ajax({
            url: `<%= API_URL %>/admin/employee?page=1&rowCount=1000`,
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token'),
                'ngrok-skip-browser-warning': 'true'
            }
        }).then(data => {
            let petugasList = [];

            data.data.forEach(employee => {
                if(employee.user_id != null){
                    if(employee.user.role_id == 6){
                        petugasList.push({
                            employe_id: employee.id,
                            user_id: employee.user.id,
                            full_name: employee.full_name
                        });
                    }
                }
            });

            return petugasList;
        });
    }
    function scheduleList(month){
        return $.ajax({
            url: `<%= API_URL %>/admin/schedule/where?month=${month}`,
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token'),
                'ngrok-skip-browser-warning': 'true'
            }
        }).then(data => {
            const scheduleMap = {};

            data.data.forEach(s => {
                scheduleMap[s.schedule_date] ??= {};
                scheduleMap[s.schedule_date][s.checker_id] ??= [];
                if(s.status == 1){
                    scheduleMap[s.schedule_date][s.checker_id].push(s);
                }
            });


            return scheduleMap;
        });
    }

async function openModal(mode) {
        // alert("Open Modal");
        const modal = new bootstrap.Modal(document.getElementById('formModal'));
        if (mode === "insert") {
            modal.show();
            $("#saveData").show();
            const shiftOptions = await loadShiftOptions();
            const locationTypeOptions = await loadLocationTypeOptions();
            const petugasOptionsData = await petugasOptions();
            document.getElementById("dataFormContent").innerHTML = `
            <h5>Tambah Akses</h5>
            <div class="mb-3">
                <label for="tanggal" class="form-label">Tanggal</label>
                <input type="date" class="form-control" id="schedule_date" name="schedule_date" required>
            </div>
            <div class="mb-3">
                <label for="shiftName" class="form-label">Shift</label>
                ${shiftOptions}
            </div>
            <div class="mb-3">
                <label for="locationType" class="form-label">Location Type</label>
                ${locationTypeOptions}
            </div>
            <div class="mb-3">
                <label for="petugas" class="form-label">Petugas</label>
                ${petugasOptionsData}
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" name="status" required>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
            `;
        } else if (mode === "edit") {
            // Ambil data dari checkbox yang dicentang
            const checked = Array.from(document.querySelectorAll('#patrol-data input[type=checkbox]:checked'));
            if (checked.length !== 1) {
                alert('⚠️ Pilih satu Jadwal untuk diedit!');
                modal.hide();
                return;
            } else {
                modal.show();
                $("#saveData").show();
                const scheduleCheckboxValue = checked[0].value;
                const [scheduleDate, shiftId, locationTypeId, checkerId, statusId] = scheduleCheckboxValue.split('|');
                console.log("Checked value: ", scheduleCheckboxValue);
                $.ajax({
                    url: `<%= API_URL %>/admin/schedule/query/${scheduleDate}/${shiftId}/${locationTypeId}/${checkerId}`,
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('token'),
                        'ngrok-skip-browser-warning': 'true'
                    },
                    success: async function (data) {
                        console.log('Data menu diterima:', data.data[0]);
                        let shiftOptions, locationTypeOptions,petugasOptionsData;
                        if(data.data.length > 0){
                            shiftOptions = await loadShiftOptions(data.data[0].shift_id);
                            locationTypeOptions = await loadLocationTypeOptions(data.data[0].location_type_id);
                            petugasOptionsData = await petugasOptions(data.data[0].user.employee.id);

                        }else{
                            shiftOptions = await loadShiftOptions();
                            locationTypeOptions = await loadLocationTypeOptions();
                            petugasOptionsData = await petugasOptions();
                        }
                            document.getElementById("dataFormContent").innerHTML = `
                            <h5>Edit Akses</h5>
                            <div class="mb-3">
                                <label for="tanggal" class="form-label">Tanggal</label>
                                <input type="date" class="form-control" id="schedule_date" name="schedule_date" value="${data.data[0].schedule_date}" required>
                            </div>
                            <div class="mb-3">
                                <label for="shiftName" class="form-label">Shift</label>
                                ${shiftOptions}
                            </div>
                            <div class="mb-3">
                                <label for="locationType" class="form-label">Location Type</label>
                                ${locationTypeOptions}
                            </div>
                            <div class="mb-3">
                                <label for="petugas" class="form-label">Petugas</label>
                                ${petugasOptionsData}
                            </div>
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select class="form-select" id="status" name="status" required>
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                            `;
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching menu data:', error);
                        alert('❌ Gagal mengambil data menu. Silakan coba lagi.');
                        modal.hide();
                    }
                });
            }
        }
    }
    $(document).ready(function () {
        $('#saveData').click(function () {
            const jsonData = {};
            $('#dataFormContent').serializeArray().forEach(item => {
                jsonData[item.name] = item.value;
            });
            console.log(jsonData);
            if (modeSave === 'insert') {
                // Insert mode
                $.ajax({
                    url: '<%= API_URL %>/admin/schedule',
                    method: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('token'),
                        'Content-Type': 'application/json',
                        'ngrok-skip-browser-warning': 'true'
                    },
                    data: JSON.stringify(jsonData),
                    success: function (data) {
                        alert('✅ Menu berhasil ditambahkan!');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error inserting menu:', error);
                        alert('❌ Gagal menambahkan menu. Silakan coba lagi.');
                    }
                });
            }else if (modeSave === 'edit') {
                $.ajax({
                    url: `<%= API_URL %>/admin/schedule/${jsonData.schedule_date}/${jsonData.shift_id}/${jsonData.location_type_id}/${jsonData.checker_id}`,
                    method: 'PUT',
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('token'),
                        'Content-Type': 'application/json',
                        'ngrok-skip-browser-warning': 'true'
                    },
                    data: JSON.stringify(jsonData),
                    success: function (data) {
                        alert('✅ Menu berhasil diperbarui!');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error updating menu:', error);
                        alert('❌ Gagal memperbarui menu. Silakan coba lagi. ()' + xhr.responseText);
                    }
                });
            }
        });
    });

    function easyInputScehdule(scheduleCheckboxValue){
        const modal = new bootstrap.Modal(document.getElementById('formModal'));
                modal.show();
                $("#saveData").show();
                const [scheduleDate, shiftId, locationTypeId, checkerId, statusId] = scheduleCheckboxValue.split('|');
                console.log("Checked value: ", [scheduleDate, shiftId, locationTypeId, checkerId, statusId]);
                $.ajax({
                    url: `<%= API_URL %>/admin/schedule/query/${scheduleDate}/${shiftId}/${locationTypeId}/${checkerId}`,
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('token'),
                        'ngrok-skip-browser-warning': 'true'
                    },
                    success: async function (data) {
                        console.log(data);
                        let shiftOptions, locationTypeOptions,petugasOptionsData;

                            shiftOptions = await loadShiftOptions(shiftId);
                            locationTypeOptions = await loadLocationTypeOptions(locationTypeId);
                            petugasOptionsData = await petugasOptions(checkerId);

                            document.getElementById("dataFormContent").innerHTML = `
                            <h5>Edit Akses</h5>
                            <div class="mb-3">
                                <label for="tanggal" class="form-label">Tanggal</label>
                                <input type="date" class="form-control" id="schedule_date" name="schedule_date" value="${scheduleDate}" required>
                            </div>
                            <div class="mb-3">
                                <label for="shiftName" class="form-label">Shift</label>
                                ${shiftOptions}
                            </div>
                            <div class="mb-3">
                                <label for="locationType" class="form-label">Location Type</label>
                                ${locationTypeOptions}
                            </div>
                            <div class="mb-3">
                                <label for="petugas" class="form-label">Petugas</label>
                                ${petugasOptionsData}
                            </div>
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select class="form-select" id="status" name="status" required>
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                            `;
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching menu data:', error);
                        alert('❌ Gagal mengambil data menu. Silakan coba lagi.');
                        modal.hide();
                    }
                });
    }

    function autoScehdule(value){
        const [monthValue, employeId, fullName] = value.split('|');
        let indexStartDate = 1;

        const startDate = prompt(
        `Masukkan tanggal mulai (format: 1-31) untuk Auto Schedule Pegawai ${fullName}`
        );

        // kalau user isi dan bukan kosong
        if (startDate !== null && startDate.trim() !== "") {
            indexStartDate = parseInt(startDate);
        }

        const confirmation = confirm(
        `Apakah Anda yakin ingin melakukan Auto Schedule mulai ${indexStartDate}?\nData jadwal yang ada akan direset dan diganti dengan jadwal baru.`
        );

        if (!confirmation) {
            return;
        }
        // lanjut proses auto schedule
        const monthData = document.getElementById('monthPicker').value;
        const [year, month] = monthData.split('-').map(Number);
        const daysInMonth = new Date(year, month, 0).getDate();
        // console.log("Days in month:", daysInMonth);

        // console.log("Tanggal mulai:", indexStartDate);
        const patern = ['PB', 'PB', 'MB', 'MB', 'O', 'O'];
        const paternBack = ['O', 'O', 'MB', 'MB', 'PB', 'PB'];
        let dataList = [];
        let currentIndex = indexStartDate - 1; // sesuai input input user
        // mapping shift
        // ['PB', 'PB', 'MB', 'MB', 'O', 'O','PB', 'PB', 'MB', 'MB', 'O', 'O']
        //                                  ['PB', 'PB', 'MB', 'MB', 'O', 'O']
        if(currentIndex == 0){
            for(let d = 1 ; d <= daysInMonth; d++){
                dataList.push(patern[(d-1)%6]);
            }
            console.log("Data list for auto schedule:", dataList);
        }else{
            let dataListBefore = [];
            for(let d = 1 ; d <= currentIndex; d++){
                dataListBefore.push(paternBack[(d-1)%6]);
            }

            let dataListNext = [];
            for(let d = 1 ; d <= daysInMonth - currentIndex; d++){
                dataListNext.push(patern[(d-1)%6]);
            }
            // console.log("dataListBefore:", dataListBefore);
            // console.log("dataListNext:", dataListNext);
            for(let i=dataListBefore.length -1 ; i >=0 ; i--){
                dataList.push(dataListBefore[i]);
            }
            dataListNext.forEach(item => {
                dataList.push(item);
            });
            console.log("Data list for auto schedule:", dataList);
        }

        let mappingConfigDefaultSchedule = {
                                            PB:{
                                                schedule_date:monthData, 
                                                shift_id:1, 
                                                location_type_id:1, 
                                                checker_id:employeId, 
                                                status:1
                                            },
                                            MB:{
                                                schedule_date:monthData, 
                                                shift_id:2, 
                                                location_type_id:1, 
                                                checker_id:employeId, 
                                                status:1
                                            },
                                            O:{
                                                schedule_date:monthData, 
                                                shift_id:1, 
                                                location_type_id:1, 
                                                checker_id:employeId, 
                                                status:0
                                            }
                                        };
            let payloadAutoSchedule = [];
            for (let i = 0; i < dataList.length; i++) {
                const day = i + 1;
                const baseConfig = mappingConfigDefaultSchedule[dataList[i]];
                payloadAutoSchedule.push({
                    ...baseConfig,
                    schedule_date: `${monthData}-${String(day).padStart(2, '0')}`
                });
            }

            console.log(payloadAutoSchedule);
            console.log("Auto schedule for:", monthValue, employeId, fullName);
            $.ajax({
                url: `<%= API_URL %>/admin/schedule/bulk`,
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('token'),
                    'Content-Type': 'application/json',
                    'ngrok-skip-browser-warning': 'true'
                },
                data: JSON.stringify(payloadAutoSchedule),
                success: function (data) {
                    alert('✅ Jadwal berhasil disinkronisasi!');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error auto scheduling:', error);
                    alert('❌ Gagal menyinkronisasi jadwal. Silakan coba lagi.');
                }
            });
        
    }
</script>
